body{
    margin: 0;
    padding: 0;
    background: url(75.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
header{
    color: white;
    background-color: rgba(9, 124, 9, 0.65);
    text-align: center;
    font-size: 50px;
    padding: 20px;
}
.container {
    background: rgba(127, 236, 203, 0.7);
    width: 300px;
    height: 325px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    border-radius: 13px;
}
.container1 {
    background: rgba(127, 236, 203, 0.7);
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    border-radius: 13px;
}
.login{
    padding-top: 20px;
    font-size: 38px;
    margin: auto;
    font-family: system-ui;
    font-style: oblique;
    color: rgb(243, 36, 36);
}
.uname{
    display: block;
    text-align: center;
    margin: auto;
    padding: revert;
    border-radius: 5px;
    border: none;
    height: 28px;
    width: 200px;
    font-size: 16px;
}
button.uname{
    margin-top: 13px;
    background-color: rgb(245, 139, 139);
    border: none;
    height: 28px;
    width: 80px;
    margin-bottom: 5px;
}
button.uname:hover{
    background-color: rgb(235, 114, 134);
    cursor: pointer;
}
p{
    margin-top: 7px;
    margin-bottom: 3px;
    font: small-caption;
    font-size: 17px;
}
.fp{
    text-decoration: none;
    font-size: 17px;
}
.fp:hover{
    text-decoration: underline;
}
